
*{
    font-family: sans-serif;
}

.text-primary{
    color: #fd6e0a;
}

.button-primary{
    background-color: #fd6e0a;
    cursor: pointer; 
}

/*-----------Header-----------Start-----------*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

/*-----------nav-------Start---------*/
nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    margin-right: 20px;  
    list-style: none; 
}

nav li a{
    font-weight: 600;
    text-decoration: none;
    color: #444343;
}

.logo-title{
    font-weight: 800;
    font-size: 30px;
    align-items: center;
}

button{
    padding: 10px 15px;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}
/*-----------nav-------End---------*/
.header{
    background-color: #faeade;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    
}

.banner-contrent{
  max-width: 500px;
}
.banner .profile-pictur{
    width: 500px;
}

.banner-greeting{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
}

.banner-driscription{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
/*-----------Header-----------End-----------*/


main{
    width: 1140px;
    margin: auto;
}


/*-----------About-----------Start------------*/
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #faeade;
    margin: 130px 0;
}

.about-title{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #181818;
}

.about-discription{
   text-align: center;
   font-size: 20px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;

}

.about-info{
   text-align: center;
}

.info-title{
    font-size: 20px;
    color: #fd6e0a;
}

.info-dewscription{
    font-weight: 500;
}
/*-----------About-----------End-----------*/




/*-----------Skill-----------Start-----------*/
#what-i-do-discription{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 10px;
}

.skill{
    background-color: #fbf0f0;
    padding: 10px;
}

.skill img{
    margin-left: 40%;
}

.skill-title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #181818;
}

.skill-discription{
    text-align: center;
    color: #444343;
    font-weight: 500;
}
/*-----------Skill-----------End-----------*/






