
*{
    font-family: sans-serif;
}

.text-primary{
    color: #fd6e0a;
}

.button-primary{
    background-color: #fd6e0a; 
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

/*-----------nav-------Start---------*/
nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    margin-right: 20px;  
    list-style: none; 
}

nav li a{
    font-weight: 600;
    text-decoration: none;
    color: #444343;
}

.logo-title{
    font-weight: 800;
    font-size: 30px;
    align-items: center;
}

button{
    padding: 10px 15px;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}
/*-----------nav-------End---------*/
.header{
    background-color: #faeade;
}

.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pictur{
    width: 500px;
}




